services:
  proxygate:
    image: ${PROXYGATE_IMAGE:-radityprtama/proxygate:latest}
    pull_policy: always
    build:
      context: .
      dockerfile: Dockerfile
      args:
        VERSION: ${VERSION:-dev}
        COMMIT: ${COMMIT:-none}
        BUILD_DATE: ${BUILD_DATE:-unknown}
    container_name: proxygate
    environment:
      DEPLOY: ${DEPLOY:-}
    ports:
      - "8317:8317"
      - "8085:8085"
      - "1455:1455"
      - "54545:54545"
      - "51121:51121"
      - "11451:11451"
    volumes:
      - ./config.yaml:/proxygate/config.yaml
      - ./auths:/root/.proxygate
      - ./logs:/proxygate/logs
    restart: unless-stopped
